[submodule "yellowpaper"]
	path = yellowpaper
	url = https://git.overleaf.com/12075858gmwysfccfxts
[submodule "monetary-policy"]
	path = monetary-policy
	url = https://git.overleaf.com/12088962zyrnvghhngpt
